{% extends "app/layout.html" %}
{% load staticfiles %}
{% block content %}

<h2>{{ title }}.</h2>
<a href="{{ parent }}"><img src="{% static 'app/images/UpLeft.png' %}" width="24px" /></a>

<ol>{% for child in children %}
<li><a href="{{ child.id }}"> {{ child.name }} [id={{ child.id }}]</a>
&nbsp;&nbsp;<a href="{{ child.id }}/delete"><img src="{% static 'app/images/Minus.png' %}" width="15px" /></a></li>
{% endfor %}
</ol>
<a href="add"><img src="{% static 'app/images/Add_48.png' %}" width="24px" /></a>

{% endblock %}
